@import "./base.css";
@import  "tabulator-tables";
@import  "bootstrap-icons";

#app {
  max-width: 1600px;
  padding: 2rem;
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.btn {
  margin: .5rem;
}

.btn-primary {
  background: rgb(147, 87, 169);
  border-color: rgb(196, 130, 219);
}

.btn-primary:hover {
  background: rgb(178, 63, 220);
}

.btn-primary:active {
  background: rgb(210, 145, 234);
}

.btn-secondary {
  background: var(--vt-c-yellow-soft);
  color: #555;
}

.btn-secondary:hover {
  background: var(--vt-c-yellow-extra-soft);
  color: rgb(42, 40, 43)
}

.btn-inline {
  height: 25px;
  font-size: 12px;
  padding: 4px;
}

form ~ button.btn.delete-btn{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 25px;
  margin-bottom: 10px;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--color-background-soft);
  width: 50%;
  border-radius: 20px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.info {
  color: rgb(170, 170, 170);
  font-size: 10px;
  display: block;
}

.list-group-item.active {
  background: var(--vt-c-purple-soft);
  border-color: var(--vt-c-purple-mute);
}

.errors {
  color: rgb(255, 0, 0);
}

.errors > span {
  display: block;
  font-weight: bold;
}

.required-field::before {
  content: "*";
  color: rgb(219, 54, 54);
  padding: .5em;
  margin-left: -1em;
}

input[type="text"], input.dp__input, input[type="number"] {
  background-color: var(--vt-c-yellow-extra-soft);
  border-radius: 10px;
  width: 100%;
  /* height: 38px; */
}

.dp_timepicker > .dp__instance_calendar, .dp__overlay {
  display: contents;
  position: relative;
}

.dp__calendar:only-child {
  position: absolute;
}

span.vue__time-picker {
  font-size: 1rem;
  display: block;
  width: 100%;
}

input[type="checkbox"] {
  background-color: var(--vt-c-yellow-extra-soft);
  margin-left: 25px;
  transform: scale(1.5);
}
input[type="checkbox"]::before {
  background-color: var(--vt-c-yellow-extra-soft);
}

select.form-control, select.form-control:focus {
  background-color: var(--vt-c-yellow-extra-soft);
  border-radius: 10px;
}

.checkboxContainer {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkbox {
  position: absolute;
  border-radius: 10px;
  top: -5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--vt-c-yellow-extra-soft);
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkbox {
  background-color: rgb(147, 87, 169);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkbox:after {
  display: inline-block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.list {
  text-align: left;
  max-width: 1200px;
  margin: auto;
}

.list-item-display {
  margin-right: 2em;
}

.card, .card .card-body .list-group .list-group-item {
  background-color: var(--vt-c-yellow-soft);
  font-size: 18px;
  color: #555;
}

.v-sidebar-menu {
  background: rgb(89, 73, 95);
  box-shadow: 20px 20px 10px var(--color-background-mute);
}

.v-sidebar-menu .vsm--dropdown {
  background: rgb(133, 117, 138);
}

.v-sidebar-menu.vsm_expanded .vsm--link_level-1.vsm--link_open {
  background: var(--vt-c-yellow-soft);
  box-shadow: inset 3px 0 0 0 #6f6e4c;
}

.v-sidebar-menu.vsm_expanded .vsm--link_level-1.vsm--link_open .vsm--icon {
  background: rgb(127, 123, 80);
}

.v-sidebar-menu .vsm--toggle-btn {
  background: rgb(65, 58, 68);
}

.v-sidebar-menu .vsm--link_level-1.vsm--link_active {
  box-shadow: inset 3px 0 0 0 var(--color-background-mute);
}

.tabulator {
  border: none;
  border-radius: 10px;
  box-shadow: inset 3px 0 0 0 var(--color-background-mute);
  font-size: 18px;
}

.tabulator-row .tabulator-cell, .tabulator .tabulator-header, .tabulator .tabulator-header .tabulator-col {
  border: none;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
  font-weight: bolder;
}

.tabulator .tabulator-header .tabulator-col, .tabulator .tabulator-footer {
  background-color: var(--vt-c-yellow-soft);
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover:hover {
  background-color: var(--vt-c-yellow-mute);
}

.tabulator .tabulator-footer .tabulator-page.active {
  color: white;
}

.tabulator-row.tabulator-selectable.tabulator-row-odd.tabulator-selected,  .tabulator-row.tabulator-selectable.tabulator-row-even.tabulator-selected {
  background-color: var(--color-background-mute);
  color: white;
}

.tabulator-row.tabulator-selected:hover {
  background-color: var(--vt-c-yellow-mute);
}

.tabulator-row.tabulator-row-odd {
  background-color: var(--color-background);
  color: white;
}

.tabulator-row.tabulator-row-even {
  background-color: var(--color-background-soft);
  color: white;
}

.green-event > div {
  background-color: rgb(127, 255, 155);
}


.red-event > div {
  background-color: rgb(221, 120, 120);
}

